@model WebApplicationVer2.Models.MappingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.CityName"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseIdList" class="control-label"></label>
                <select asp-for="WarehouseIdList" class="form-control" asp-items="ViewBag.WarehouseName" multiple></select>
                <span asp-validation-for="WarehouseIdList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MappingList[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MappingList[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MappingList[0].Warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MappingList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
